/** BASE **/

:root {
  --link-color: #0d6efd;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

a {
  color: var(--link-color);
}

/** COMPONENTS **/

.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.main {
  padding-top: 1rem;
}

.card {
  min-height: 400px;
  padding: 20px;
  background-color: #eee;
}

.slider {
  overflow-x: hidden;
}
.slider__track {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  /* column-gap: 20px; */
}